@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(34, 34, 34);
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px; /*padding faz uma margem geral para afunilar */
}

header {
  display: flex; /*ajuda a posicionar itens */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  flex-direction: column;
  line-height: 10px;
}

li {
  display: inline-block; /* faz os itens que estavam em coluna se alinharem os bloqueando*/
  margin: 20px;
}

a {
  color: #fff;
}

a:hover {
  color: rgb(132, 13, 201);
  transition: 0.3s all;
}

#inscreva-se-btn { /* Quando for id usar # */
  border: 2px solid rgb(132, 13, 201);
  padding: 10px;
  border-radius: 60px;
}

#inscreva-se-btn:hover {
  background-color: rgb(132, 13, 201);
  color: #fff;
}

h1 {
  font-weight: 200;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

h2 {
  font-size: 56px;
  line-height: 10px; /*aproxima ou afasta itens em linhas diferentes*/
  font-weight: 800;
}

span {
  color: rgb(132, 13, 201)
}

p {
  line-height: 20px;
  max-width: 500px;
  font-weight: 250;
}

img {
  width: 550px;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#btn-submit {
  height: 50px;
  width: 50%;
  background-color: rgb(132, 13, 201);
  color: #fff;
  font-weight: bold;
}

#btn-submit:hover {
  cursor: pointer;
  background-color: #fff;
  color: rgb(132, 13, 201);
  transition: 0.3s;
}

input {
  margin-top: 20px;
  padding: 15px;
  border: none;
  border-radius: 60px;
  font-size: 15px;
}