@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
  font-size: 21px;
  font-weight: 700;
  background-color: white;
  color: red;
  border-radius: 20px;
  padding: 20px;
}
* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(img/bg-busca.png);
  background-size: 100%;
}

.container {
  width: 100%;
  max-width: 420px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 20px;
  color: #000000;
  padding: 30px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  ;
}

.inputs-log {
  width: 100%;
  max-width: 420px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.inputs-log input {
  width: 100%;
  border-radius: 20px;
  margin: 10px;
  height: 100%;
  border: 2px solid rgba(2, 0, 0, 0.219);
  outline: 2px solid rgba(0, 0, 0, 0.212);
  background-color: rgba(255, 255, 255, 0.034);
  border: 2px solid rgba(255, 255, 255, .2);
  color: #000000;
  padding: 12px;
  text-align: left;
}

.inputs-log input::placeholder {
  color: rgba(0, 0, 0, 0.712);
}

.remember-forget input {
  margin-left: 10px;
}

.button button {
  border: none;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  background-color: rgba(216, 9, 9, 0.87);
  border: 2px solid rgba(255, 255, 255, .2);
  color: #fff;
  padding: 12px;
  outline: none;
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
}

.button button:hover {
  background-color: transparent;
  background-color: white;
  border: 2px solid rgba(216, 8, 8, 0.863);
  color: red;
  transition: 0.2s;
}

@media screen and (max-width: 320px) {
  .container {
    padding: 30px 20px;
  }
}

/*
  víctor

  > Position Relative / Absolute

  > Display Flex
  > Display Grid

  > Mobile-first
  > Frameworks:
  - Tailwind.css
  - Bootstrap
  - Pré-processador CSS
    - SCSS (SASS)
    - Less
*/

.teste-andre {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: red;
}

.teste-andre__item {
  position: absolute;
  top: 5%;
  left: 15%;
}