body {
  /* maior parte dos elementos tem display de bloco ou inline por padrão*/
  display: flex;
  border: 2px solid black;
  min-height: 800px;
  align-items: center; /*Posiciona verticalmente os itens*/
  justify-content: space-evenly; /*Posiciona os elementos de acordo com a main axis */
  /*Space between divide dentro de um display
  Space evenly todos os espaços são do mesmo tamanho  
  Space around não toca as bordas mas é semelhante ao space between
  */
}

.box {
  /* Como Usar flexbox e Grid */
  height: 200px;
  width: 200px;
  background-color: #0071ff;
  font-size: 40pt;
}
